<!--

Sign up/ Site Home

-->
<div class="row">
  <div class="offset-md-4 col-md-4 text-center">
    <h3>Do you have a reservation?</h3>
  </div>
</div>

<div class="row">
  <div class="offset-md-4 col-md-3">
    <% if flash[:error_message] %>
      <p><%= flash[:error_message] %></p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="login-box offset-md-4 col-md-4 border border-primary rounded">
    <%= form_tag(login_path, :class => "form-signin") do %>

      <div class="form-label-group my-3">
        <%= label_tag :email  %>
        <%= email_field_tag :email, nil, :class => "form-control" %>
      </div>
      <div class="form-label-group my-3">
        <%= label_tag :password %>
        <%= password_field_tag :password, nil, :class => "form-control" %>
      </div>

      <%= submit_tag 'Sign In', :class => "btn btn-primary mb-3 w-100" %>
      <% end %>

  </div>
</div>
