<!--

New User Sign Up

-->
<div class="row">
  <div class="offset-md-8 col-md-3 text-center">
    <h3>Would you like to make a reservation?</h3>
  </div>
</div>

<div class="row">
  <div class="offset-md-4 col-md-3">
    <% if @user.errors.any? %>
      <ol>
        <%= @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="offset-md-8 col-md-3 border border-primary rounded mb-5 bg-light">
    <%= form_for @user do |f| %>
      <div class="form-label-group my-3">
        <%= f.label :name %>
        <%= f.text_field :name, :required => 'true', :class => "form-control" %>
      </div>
      <div class="form-label-group my-3">
        <%= f.label :email %>
        <%= f.email_field :email, :required => 'true', :class => "form-control" %>
      </div>
      <div class="form-label-group my-3">
        <%= f.label :password %>
        <%= f.password_field :password, :required => 'true', :class => "form-control" %>
      </div>
      <div class="form-label-group my-3">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :required => 'true', :class => "form-control" %>
      </div>
        <%= f.submit "Sign Up", :class => "btn btn-primary w-100 mb-3" %>
    <% end %>
  </div>
</div>
