<div class="row">
  <div class="offset-md-4 col-md-4 text-center">
    <h1>Edit your post</h1>
  </div>
</div>
<div class="row">
  <div class="offset-md-4 col-md-4 border border-primary rounded mb-5">
    <p><strong> <%= link_to @post.user.name, user_path(@post.user), :class => "form-label-group my-3" %> </strong></p>

    <%= cl_image_tag(@post.post_image, :class => "img-fluid w-100") %>

    <%= form_for @post do |f| %>
      <div class="form-label-group my-3">
        <%= f.label :post_text %>
        <%= f.text_area :post_text, :required => true, :class => "form-control " %>
      </div>
      <div class="form-label-group my-3">
          <%= f.submit "Post", :class => "btn btn-primary w-100" %>
        <% end %>
      </div>

    <%= link_to "Delete post", delete_post_path, :method => 'delete', :class => 'text-danger' %>
  </div>
</div>
