<!--

Show an individual post

 -->
<div class="row">
  <div class="offset-md-1 col-md-6 my-5">

    <%= cl_image_tag(@post.post_image, :class => "img-fluid w-100") %>

    <% if @post.user.id == @current_user.id %>
      <%= link_to "Edit post", edit_post_path %>
    <% end %>
  </div>

  <div class="col-md-4 my-5">
    <p><strong><%= link_to @post.user.name, user_path(@post.user) %> • <%= @post.post_text %> </strong></p>
    <ul class="list-group list-group-flush border border-info rounded">
      <% @post.comments.each do |c| %>
        <% if c.user_id == @current_user.id %>
            <li class="list-group-item list-group-item-info">
              <strong><%= c.user.name %> • </strong>
              <%= c.comment_text %>
              <%= link_to 'x', delete_comment_path, :method => 'delete' %>
            </li>
        <% else %>
          <li class="list-group-item list-group-item-info">
            <strong><%= c.user.name %> • </strong>
            <%= c.comment_text %>
          </li>
        <% end %>
      <% end %>
    </ul>

    <%= form_tag create_comment_path(@post) do %>

      <%= label_tag :comment_text, "Add a comment" %>
      <%= text_area_tag :comment_text, nil, :class => "form-control mb-3" %>

      <%= submit_tag "Add comment", :class => "btn btn-primary w-100" %>
    <% end %>

  </div>
</div>
