<h2>Display A Post here</h2>

<h3>New post coming soon</h3>


<p>Username: </p>

<%= image_tag @post.post_image, :class => 'feature' %>

<p>Post text: <%= @post.post_text %></p>

<h4>Comments:</h4>

<ul>
  <% @post.comments.each do |c| %>
    <li><%= c.comment_text %></li>

  <% end %>
</ul>

<%# render :partial => "new_comment" %>

<%= form_tag create_comment_path(@post) do %>

  <%= label_tag :comment_text %>
  <%= text_area_tag :comment_text %>

  <%= submit_tag "Add comment" %>
<% end %>
