<!--

Show an individual post

 -->
<h2>Display A Post here</h2>

<p>Username: <%= link_to @post.user.name, user_path(@post.user) %> </p>

<%= cl_image_tag(@post.post_image) %>

<p>Post text: <%= @post.post_text %></p>

<%= link_to "Edit post", edit_post_path %>
<h4>Comments:</h4>

<ul>
  <% @post.comments.each do |c| %>
    <li><%= c.comment_text %></li>
  <% end %>
</ul>

<%= form_tag create_comment_path(@post) do %>

  <%= label_tag :comment_text %>
  <%= text_area_tag :comment_text %>

  <%= submit_tag "Add comment" %>
<% end %>
